<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371273133115-7187d4arjf62j531ivuinve0evq2psfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371273133115-7187d4arjf62j531ivuinve0evq2psfq</string>
	<key>API_KEY</key>
	<string>AIzaSyCz6qOWSe7mUfYVUP6qmCIP4lL5URww5gY</string>
	<key>GCM_SENDER_ID</key>
	<string>371273133115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gatetechs.kishk.driver</string>
	<key>PROJECT_ID</key>
	<string>tawfeer-8fca0</string>
	<key>STORAGE_BUCKET</key>
	<string>tawfeer-8fca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371273133115:ios:0e2a29184069ad893b401e</string>
</dict>
</plist>